<div class="container">
    <h2>Productos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let producto of productos">
            <div class="card">
                <img [src]="producto.imagen" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <h5 class="card-title">{{producto.precio | currency: '$'}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>