<div class="container">
    <h2>Guardar producto</h2>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="producto.nombre">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" class="form-control" name="precio" [(ngModel)]="producto.precio">
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="text" class="form-control" name="imagen" [(ngModel)]="producto.imagen">
        </div>
        <div class="form-group row">
            <label for="categoria" class="col-form-label col-sm-2">Categoria</label>
            <select [compareWith]="compararCategoria" [(ngModel)]="producto.categoria" class="form-control" name="categoria">
                <option [ngValue]="undefined">--- Seleccionar una categoria ---</option>
                <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.nombre }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="crearProducto()" *ngIf="!producto.id">Guardar</button>
        <button type="submit" class="btn btn-primary mt-3" (click)="actualizarProducto()" *ngIf="producto.id">Guardar</button>
    </form>
</div>